# hippius vali credentials
VALIDATOR_ACCOUNT_ID=fake_account
VALIDATOR_SEED=fake_seed

# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=substrate_fetcher
DATABASE_URL=postgres://user:password@localhost:5432/substrate_fetcher?sslmode=disable

# rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=/
RABBITMQ_URL=amqp://admin:admin@localhost:5672/

# substrate
NODE_URL=wss://rpc.hippius.network

# ipfs
IPFS_NODE_URL=http://localhost:5001